<p class="rounded-md whitespace-nowrap mt-0.5 px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset <%= status === 'connected' ? 'text-green-600 bg-green-50 ring-green-500/10' : 'text-gray-600 bg-gray-50 ring-gray-500/10' %>">
  <%= status %>
</p>